body{
    width:100%;
    height:100vh;
    background:linear-gradient(135deg,#f8f5c2,#efccb6,#e495b4,#d77dba);
    overflow: hidden;
}

.container{
    position: relative;
}


h1 {
    text-align: center;
  }
  table {
    margin:auto;
  }
  th,td,tr{
    border:2px solid black;
  }
  td,input{
    width:300px;
  }

  .register{
    background-color:red;
    color:white;
    border-radius:8px;
    text-align: center;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }

  .para{
    color:red;
    position: absolute;
  }
  .para1{
    top:9%;
    right:30%;
    opacity:1;
  }
  .para2{
    top:13%;
    right:30%;
    opacity:1;
  }
  .para3{
    top:18%;
    right:30%;
    opacity:1;
  }
  .para4{
    top:23%;
    right:30%;
    opacity:1;
  }
  .para5{
    top:28%;
    right:30%;
    opacity:1;
  }
  .para6{
    top:43%;
    right:30%;
    opacity:1;
  }
  .para7{
    top:48%;
    right:30%;
    opacity:1;
  }
  .para8{
    top:58%;
    right:30%;
    opacity:1;
  }